/* About Section Styling */
#home-about-section {
    background-color: var(--switch2-theme);
}

#about-title {
    color: #000;
}

.about-text {
    font-size: 1.3em;
    color: black;
    text-align: justify;
}

#roles-text {
    text-align: center !important;
    font-size: 1.3rem;
}

.name {
    color: var(--text-theme);
    font-weight: bolder;
}